.analog {
    width: 100vw;
    height: 100vh;
    background-color: var(--lightBackgroundcolor);
    color: var(--darkTextcolor);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.analog__section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.relativeBox{
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    z-index: 1;
    transform: rotate(1deg);
    box-shadow: 1px 1px 10px black;
}
.minutvisare {
    position: absolute;
    top: 21px;
    left: 50%;
    background-color: #000000;
    width: .2rem;
    height: 119px;
    z-index: 2;
    border-radius: 10px 10px 0 0;
}

.sekundvisare {
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 50%;
    width: .15rem;
    height: 139px;
    z-index: 2;
}


