.textpage {
    width: 100vw;
    height: 100vh;
    background-color: var(--lightBackgroundcolor);
    color: var(--darkTextcolor);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.text__section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.textTime {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 4rem;
}