* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --darkBackgroundcolor: #000000;
  --lightBackgroundcolor: #EEEEEE;
  --darkTextcolor: #222222;
  --lightTextcolor: #ffffff;
}

body {
  background-color: var(--lightBackgroundcolor);
}